doctype html
html
  head
   link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
   script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
   meta(charset="utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1")
   
   script.
    // init page data:
    $(document).ready(function() {
      
      // INIT STEP 1: Get system basic data
      $.ajax({
        url : "/systemService/#{systemId}"
      }).then(
     	function success(data) {
     	    var systemInfo = JSON.parse(data);
     	    setSystemData(systemInfo);
     	  }
     	,
     	function fail() {
     	  addError("J채rjestelm채n tietojen haku ep채onnistui.");
     	}
     );
     
     // INIT STEP 2: Load menu items:
     $.ajax({
           url : "/menuItemService/#{systemId}"
           }).then(
             function success(data) {
               menuItemsSorted = JSON.parse(data);                
             	 for(i=0;i<menuItemsSorted.length;i++) {
             	   addMenuItem(menuItemsSorted[i]);
             	 }             	
             }
             ,
             function fail() {
               addError("Valikon haku ep채onnistui.");
             }
           );
    
    });
    
    function addError(errorText) {
     var before = $("#errorText").html();
     $("#errorText").html(before + ' ' + errorText);
    }
    
    function setSystemData(systemInfo) {
    	$("#systemName").text(systemInfo.title);
    	$("#systemNotes").text(systemInfo.notes);
    }
    
    function addMenuItem(menuItem) {
      var itemElem = document.createElement('div');
      var identations ='';
      for(var j=0;j<menuItem.identation;j++)
        identations += '&nbsp;&nbsp;&nbsp;&nbsp';
      if(menuItem.functions.length>0) {
        a = document.createElement('a');
        a.href = '/menu/open/' + menuItem._id;
        a.text = menuItem.text;
        a.setAttribute("class", 'menuItemLink');
        br = document.createElement('br');
        $("#menuItems").append(identations).append(a).append(br); 
      } else {
        itemElem.innerHTML = identations + menuItem.text;
        itemElem.setAttribute("class", 'menuItem');
        $("#menuItems").append(itemElem);
      }
      
    }
    
  title=title
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
   div.container-floating
    div.row
     div.col-sm-12.systemName
      #systemName
    hr
    div.row
     div.col-sm-12.systemNotes
      #systemNotes
    hr
    #errorText
    div.row
     div.col-sm-12.menuItem
      a(href="/") << takaisin
    div.row
     div.col-sm-12.menuItem
      #menuItems
    div.row
     div.col-sm-12.menuItem
      p
      a(href="/") << takaisin
