body {
  padding: 20px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.systemName {
  color: #9999FF;
  background-color : #D7E2EE;
  font: 24px Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 10px;
  
}

.systemNotes {
  color: gray;
  font: italic 18px Helvetica, Arial, sans-serif;
}

.menuItem {
  color: black;
  font: 18px Helvetica, Arial, sans-serif;
}

.errorText {
  color: red;
  font: 18px Helvetica, Arial, sans-serif,  italic;
}

.simpleTextModule {
  color: black;
  background-color : #F7F2FA;
  font: 18px Helvetica, Arial, sans-serif,  italic;
}

.lamHeader {
  color: #9999FF;
  background-color : #D7E2EE;
  font: 18px Helvetica, Arial, sans-serif;
  border:solid #9999FA 1px;
}

.lamData {
  font: 18px Helvetica, Arial, sans-serif;
  border:solid #9999FA 1px;
}

