body {
  padding: 20px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.systemName {
  color: #0000FA;
  font: 20px Helvetica, Arial, sans-serif;
}

.systemNotes {
  color: gray;
  font: italic 14px Helvetica, Arial, sans-serif;
}

.menuItem {
  color: black;
  font: 16px Helvetica, Arial, sans-serif;
}

