body {
  padding: 20px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.errorText {
  color: red;
  font: 18px Helvetica, Arial, sans-serif,  italic;
  margin: 10px;
}

.messageText {
  color: blue;
  font: 18px Helvetica, Arial, sans-serif,  italic;
  margin: 10px;
}

.systemName {
  color: #9999FF;
  background-color : #D7E2EE;
  font: 24px Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 10px;
  
}

.systemNotes {
  color: gray;
  font: italic 18px Helvetica, Arial, sans-serif;
}

.menuItem {
  color: black;
  font: 18px Helvetica, Arial, sans-serif;
  padding: 10px;
}

.dataTitle {
  color: darkblue;
  background-color : #D7E2EE;
  font: 18px Helvetica, Arial, sans-serif;
  margin: 10px;
}



.dataHeader {
  color: #5555FF;
  background-color : #D7E2EE;
  font: 18px Helvetica, Arial, sans-serif;
  margin: 10px;
}

.invisibleBg {
  background-color : white;
}

.dataEdit {
  color: black;
  font: 18px Helvetica, Arial, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.inputField {
  width: 25em;
}

.inputTextArea {
    width: 100%;
    height: 150px;
}

.simpleTextModule {
  color: black;
  background-color : #F7F2FA;
  font: 18px Helvetica, Arial, sans-serif,  italic;
}

.lamHeader {
  color: #9999FF;
  background-color : #D7E2EE;
  font: 18px Helvetica, Arial, sans-serif;
  border:solid #9999FA 1px;
}

.lamData {
  font: 18px Helvetica, Arial, sans-serif;
  border:solid #9999FA 1px;
}

.infoBox {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin: 10px;
}
